# Activation de la réécriture du moteur du serveur Apache
RewriteEngine On

    # Si la racine du dossier "zinc" est chargée par un client
    # redirigeons le automatiquent vers le dossier "public"
    RewriteRule ^(.*)$ public/index.php